/* Validation messages styles */
.js-validation-msg {
	padding: 1rem;
	background-color: #c7254e;
	color: #fff;
}

/* Input field (which didin't pass the validation) styles */
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}