/*-----------------------------------------------------------------
    | TEXT
-----------------------------------------------------------------*/
a:hover, a:active, a:focus {
	text-decoration: none;
}
h1 {
    margin-top: 4rem;
	font-family: $sec-font, Arial, sans-serif;
	font-size: 4rem;
	line-height: 5rem;
}
h3 {
    width: 100%;
    margin: 0 !important;
    background-color: $main-color;
    color: $white;
    font-family: $main-font, Arial, sans-serif;
    line-height: 5rem;
}
i {
    margin-right: 1rem;
}


/*-----------------------------------------------------------------
    | BUTTONS
-----------------------------------------------------------------*/
.main-button {
    margin-left: 1rem;
    margin-right: 1rem;
	padding: 1.2rem 3rem;
    font-size: 2rem;
    background-color: $malina;
    color: $white;
    border: none !important;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(33,33,33,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(33,33,33,1);
    box-shadow: 0px 3px 5px 0px rgba(33,33,33,1);
    @include transition(all .3s ease-in);

    &:hover {
        color: $white !important;
        background-color: $text-color;
    }
}
.sec-button {
    @extend .main-button;
    background-color: $white;
    color: $text-color;
}
.third-button {
    @extend .main-button;
    margin: 0 !important;
    background-color: $text-color;
    color: $white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



/*-----------------------------------------------------------------
    | CODE
-----------------------------------------------------------------*/
.code {
    font-family: monospace;
    background-color: $text-color;
    color: $white;
}
pre {
    padding: 0rem 3rem !important;
    border: none !important;
    border-radius: 0;
    word-break: normal;
    word-wrap: normal;
}


.code-pink {
    color: $malina;
}
.code-green {
    color: rgb(135,211,124);
}
.code-yellow {
    color: rgb(245,215,110);
}
.code-blue {
    color: rgb(89,171,227);
}
.code-violet {
    color: rgb(155,89,182);
}
.code-grey {
    color: rgb(191,191,191);
}





/*-----------------------------------------------------------------
    | BACKUP AND VALIDATION MESSAGES
-----------------------------------------------------------------*/
.message {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 5;
    padding: 2rem;
    background-color: $malina;
}
.message p {
    margin-bottom: 0;
    color: $white;
}

/* JS and Validation messages */
.js-validation-msg {
    padding: 1rem;
    background-color: $malina;
    color: $white;
}