/*-----------------------------------------------------------------
    | FORM
-----------------------------------------------------------------*/
.js-validation-msg {
	padding: 1rem;
	background-color: $malina;
	color: $white;
}

input, textarea {
	border-radius: 0 !important;
}