/*-----------------------------------------------------------------
    | FONTS
-----------------------------------------------------------------*/
$main-font: 'Roboto';
$sec-font: 'Raleway';



/*-----------------------------------------------------------------
    | COLORS
-----------------------------------------------------------------*/
$text-color: rgb(33,33,33);
$white: #fff;
$malina: rgb(255,0,91);