/*-----------------------------------------------------------------
    | TEXT STYLES
-----------------------------------------------------------------*/
.uppercase {
	text-transform: uppercase;
}



/*-----------------------------------------------------------------
    | COLOR STYLES
-----------------------------------------------------------------*/
.bg-dark {
	background-color: $text-color;
}

.text-white {
	color: $white;
}

.pack-name {
	font-weight: 700;
	font-size: 1.8rem;
}

/*-----------------------------------------------------------------
    | DISPLAY STYLES
-----------------------------------------------------------------*/
.inline-me {
	display: inline-block !important;
}

.m-tb-1-3 {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.no-default-pad {
	padding: 0 !important;
}