/*-----------------------------------------------------------------
    | TEXT STYLES
-----------------------------------------------------------------*/
.uppercase {
	text-transform: uppercase;
}



/*-----------------------------------------------------------------
    | COLOR STYLES
-----------------------------------------------------------------*/
.bg-dark {
	background-color: $text-color;
}

.text-white {
	color: $white;
}

/*-----------------------------------------------------------------
    | DISPLAY STYLES
-----------------------------------------------------------------*/
.inline-me {
	display: inline-block;
}